In [ ]:
import pandas as pd

# import openpyxl as xl

In [7]:
plan = pd.read_excel('reshaping.xlsx')

plan

   Estudante Categoria  Semana          Tópico  Nota
0      Maria    Testes       1       1. Python   100
1      Maria   Projeto       1       1. Python   100
2      Maria    Testes       1       2. GitHub    70
3      Maria   Projeto       1       2. GitHub    70
4      Maria    Testes       2   3. Matplotlib    80
5      Maria   Projeto       2   3. Matplotlib    70
6      Maria    Testes       2          4. SQL    80
7      Maria   Projeto       2          4. SQL    70
8      Maria    Testes       3        5. NumPy    60
9      Maria   Projeto       3        5. NumPy    60
10     Maria    Testes       3          6. POO    90
11     Maria   Projeto       3          6. POO    80
12     Maria    Testes       4       7. Pandas    70
13     Maria   Projeto       4       7. Pandas    70
14     Maria    Testes       4  8. Estatística    80
15     Maria   Projeto       4  8. Estatística    80
16      João    Testes       1       1. Python   100
17      João   Projeto       1       1. Python    80
18      João    Testes       1       2. GitHub    90
19      João   Projeto       1       2. GitHub    90
20      João    Testes       2   3. Matplotlib    60
21      João   Projeto       2   3. Matplotlib    70
22      João    Testes       2          4. SQL    70
23      João   Projeto       2          4. SQL    80
24      João    Testes       3        5. NumPy    80
25      João   Projeto       3        5. NumPy    90
26      João    Testes       3          6. POO    70
27      João   Projeto       3          6. POO    80
28      João    Testes       4       7. Pandas    70
29      João   Projeto       4       7. Pandas   100
30      João    Testes       4  8. Estatística    80
31      João   Projeto       4  8. Estatística    90

### Pivot
### mudar a estrtura da tabela, sem alterar as informações da mesma

In [11]:
plan_pivot = plan.pivot(
    index= ['Estudante'],
    columns= ['Categoria', 'Semana', 'Tópico'],
    values= 'Nota' ,
)

plan_pivot

Categoria,Testes,Projeto,Testes,Projeto,Testes,Projeto,Testes,Projeto,Testes,Projeto,Testes,Projeto,Testes,Projeto,Testes,Projeto
Semana,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4
Tópico,1. Python,1. Python,2. GitHub,2. GitHub,3. Matplotlib,3. Matplotlib,4. SQL,4. SQL,5. NumPy,5. NumPy,6. POO,6. POO,7. Pandas,7. Pandas,8. Estatística,8. Estatística
Estudante,,,,,,,,,,,,,,,,
João,100,80,90,90,60,70,70,80,80,90,70,80,70,100,80,90
Maria,100,100,70,70,80,70,80,70,60,60,90,80,70,70,80,80

### Pode mudar colunas em linhas

In [12]:
plan_pivot.stack(level=0)

C:\Users\criat\AppData\Local\Temp\ipykernel_5764\3233526206.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  plan_pivot.stack(level=0)

Semana                      1                       2               3         \
Tópico              1. Python 2. GitHub 3. Matplotlib 4. SQL 5. NumPy 6. POO
Estudante Categoria
João      Projeto          80        90            70     80       90     80
          Testes          100        90            60     70       80     70
Maria     Projeto         100        70            70     70       60     80
          Testes          100        70            80     80       60     90

Semana                      4
Tópico              7. Pandas 8. Estatística
Estudante Categoria
João      Projeto         100             90
          Testes           70             80
Maria     Projeto          70             80
          Testes           70             80